<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <% include ../partials/nav %>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <% include ../partials/topnav %>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Buttons</h1>

                <div class="row">

                    <div class="col-lg-6">

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Receipt Upload</h6>
                            </div>
                            <div class="card-body">

                                <p>Last Uploaded receipt</p>
                                <img src="/public/images/costco1.jpg" style="width: 200px; left: 50px;">


                                <p>click the button below to upload a new receipt and view updated contents in the receipt inventory. </p>


                                <form action="/parseimage">
                                    <label for="fileupload"> Select a file to upload: </label>

                                    <input class="btn btn-warning"type="file" name="fileupload" value="fileupload" id="fileupload">
                                    <br/> <br/>

                                    <a href="/parseimage" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">Upload File</span>
                                    </a>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <% include ../partials/footer %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<% include ../partials/scripts %>

</body>

</html>